body {
  background-color: #232325;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  background-color: #be3144;
  width: 100%;
  height: 5vh;
}
nav {
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  display: inline-block;
}

#welcome-section {
  display: inline-block;
  padding-top: 5%;
  width: 100%;
  height: calc(100vh - 15.4vh);
  align-items: center;
  text-align: center;
}
#projects {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #45567d;
}
.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6vw;
  grid-row-gap: 6vh;
  max-width: 900px;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-items: center;
  align-items: center;
  width: auto;
  height: auto;
}

@media screen and (max-width: 600px) {
  .block {
    width: 100px;
  }
}
